<div class="container">
  <% if @account.empty? %>
  <div data-closable class="callout alert-callout-border warning radius">
    <strong>Attention</strong> - Aucun compte pour utilisateur <em style="color: green;"><%= current_user.email %></em> n' a été déctecter.
    <p>Afin de profiter pleinement des fonctionnalité, veuillez configurer votre compte, en vous trendent dans les paramètre</p>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  <% end %>
  <input type="search" name="search" placeholder="Search.." class="animated-search-form" style="margin-left:14px; margin-right: 14px;">
  <div class="grid-x grid-padding-x">
    <div class="cell small-2">
      <a class="dashboard-nav-card" href="#">
        <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
        <h3 class="dashboard-nav-card-title">Tiers</h3>
      </a>
    </div>
    <div class="cell small-2">
      <a class="dashboard-nav-card" style="background-color: #d98d45" href="#">
        <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
        <h3 class="dashboard-nav-card-title">Devis</h3>
      </a>
    </div>
    <div class="cell small-2">
      <a class="dashboard-nav-card" style="background-color: #4b8740" href="#">
        <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
        <h3 class="dashboard-nav-card-title">Commandes</h3>
      </a>
    </div>
    <div class="cell small-2">
      <a class="dashboard-nav-card" style="background-color: #985fb3" href="#">
        <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
        <h3 class="dashboard-nav-card-title">Factures</h3>
      </a>
    </div>
    <div class="cell small-2">
      <a class="dashboard-nav-card" style="background-color: #c7c951" href="#">
        <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
        <h3 class="dashboard-nav-card-title">tresorerie</h3>
      </a>
    </div>
    <div class="cell small-2">
      <a class="dashboard-nav-card" style="background-color: #757568" href="#">
        <i class="dashboard-nav-card-icon fa fa-users" aria-hidden="true"></i>
        <h3 class="dashboard-nav-card-title">Revenue</h3>
      </a>
    </div>
  </div>
</div>
