/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @import "foundation_and_overrides";
 @import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap');
 .searchbar {
   margin: 1rem;
 }

.body {
  font-family: 'Lobster', cursive;
}
 .search-field {
   width: 0;
   height: 40px;
   margin-left: 1rem;
   padding: 0;
   border-radius: 50px;
   border: none;
   transition: all 0.5s ease;
 }

 .expand-search {
   width: 80%;
   max-width: calc(80% - 3rem);
   border: 1px solid #c9c9c9;
   padding: .5rem;
 }

 svg {
   width: 20px;
   height: 20px;
 }

 .button {
   border-radius: 50px;
 }

.login {
  margin-left: 460px;
  margin-right: 460px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px red solid;
  border-left: 1px orange solid;
  border-right: 1px green solid;
  border-bottom: 2px black solid;
  border-radius: 8px;
  background: #e3dce0;
  font-family: 'Lobster', cursive;
  h5 {
    position: center;
    text-align: center;
    color: orangered;
    font-family: 'Dancing Script', cursive;
  }
}

.shared {
  margin-left: 460px;
  margin-right: 460px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 20px;
  border-top: 2px red solid;
  border-left: 1px orange solid;
  border-right: 1px green solid;
  border-bottom: 2px black solid;
  border-radius: 8px;
  background: #e3dce0;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.container-notice {
  margin-top: 20px;
  margin-left: 560px;
  margin-right: 500px;
}


.mg_button {
    padding-left: 10px;
    margin-right: 10px;
}
