// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'settings';
@import 'foundation';
@import 'foundation_and_overrides';
$marge_droite: 150px;
$marge_gauche: 150px;
$marge_haut: 80px;
$primary-color: #0394fc;

.container {
  margin-left: $marge_droite;
  margin-right: $marge_gauche;
  margin-top: $marge_haut;
}


  .text-link {
      color: whitesmoke;
}

.dashboard-nav-card {
  background: $primary-color;
  border-radius: 7px;
  border-top: solid 3px red;
  color: $white;
  display: block;
  min-height: 100px;
  padding: 2rem;
  position: relative;
  width: 100%;

  &:hover {
    .dashboard-nav-card-title,
    .dashboard-nav-card-icon {
      color: $white;
    }

    .dashboard-nav-card-icon {
      opacity: 1;
      transition: all 0.2s ease;
    }
  }
}

.dashboard-nav-card-icon {
  font-size: rem-calc(20);
  left: 1rem;
  opacity: 0.5;
  position: absolute;
  top: 1rem;
  transition: all 0.2s ease;
  width: auto;
}

.dashboard-nav-card-title {
  bottom: 0;
  position: absolute;
  right: 1rem;
  text-align: right;
}

$animated-search-form-initial-width: 10rem;
$animated-search-form-transition-duration: 0.6s;

.animated-search-form[type=search] {
  width: $animated-search-form-initial-width;
  border: 0.125rem solid $light-gray;
  box-shadow: 0 0 3.125rem rgba(0,0,0, 0.18);
  border-radius: 8px;;
  background-image: url('//image.ibb.co/i7NbrQ/search_icon_15.png');
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width $animated-search-form-transition-duration ease-in-out;

  &:focus {
    width: 98%;
  }
}
